<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brcm.bttestapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />

    <application
        android:name=".BtTestApplication"
        android:label="@string/app_name">
        <service
            android:name=".BluetoothMonitorService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".EmulatedCallService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MockConnectionService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>